<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<form th:action="@{/matricula/buscar}" method="post"
		th:object="${matricula}">


		<div class="form-group">
			<label for="dni">Buscar:</label> <input type="text"
				class="form-control" th:field="*{descripcionMatricula}" id="dni"></input>
		</div>
		<button type="submit" class="btn btn-primary">Aceptar</button>
		<a href="/matricula/listar" class="btn btn-danger">Cancelar</a>

	</form>

	<table class="table table-bordered table-hover table-striped"
		id="tab_logic">
		<thead>
			<tr>
				<th class="text-center">CODIGO</th>
				<th class="text-center">DESCRIPCION</th>
				<th class="text-center">FECHA</th>
				<th class="text-center">ESTUDIANTE</th>
				<th class="text-center">TALLER</th>
				<th class="text-center">PROFESOR</th>
				<th class="text-center">HORA</th>
				<th class="text-center">SALON</th>
				<th class="text-center">MONTO</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="mat: ${listaMATRICULA}">
				<td th:text="${mat.idMatricula}"></td>
				<td th:text="${mat.descripcionMatricula}"></td>
				<td th:text="${mat.fechaMatricula}"></td>
				<td th:text="${mat.estudiante.nombreEstudiante}"></td>
				<td th:text="${mat.taller.nombreTaller}"></td>
				<td th:text="${mat.taller.profesor.nombreProfesor}"></td>
				<td th:text="${mat.taller.horaTaller}"></td>
				<td th:text="${mat.taller.salon.nombreSalon}"></td>
				<td th:text="${mat.montoMatricula}"></td>


			</tr>
		</tbody>
	</table>

	

	<div th:if="${mensaje}" class="alert alert-info">
		<p th:text="${mensaje}"></p>
	</div>

</body>
</html>